*{
    margin: 0%;
}
.head-container{
    width: 100%;
    height: 100vh;
    background-color: rgb(50, 50, 50);
}
.container{
    width: 200px;
    height: 100vh;
    background-color: gray;
}
.item-box{
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.b{
    background-color: white;
    width: 45px;
    height: 7px;
    margin: 5px auto;
    box-shadow: 2px 2px white, 0 0 25px darkgrey;
}
.item-box-container{
    width: 100px;
    height: 70px;
}
.item-box:hover .item1{
    animation: item1 0.5s ease;
    animation-fill-mode: forwards;
}
.item-box:hover .item2{
    animation: item2 0.5s ease;
    animation-fill-mode: forwards;
}
.item-box:hover .item3{
    animation: item3 0.5s ease;
    animation-fill-mode: forwards;
}
@keyframes item1 {
    from{
     transform: translateY(0px) rotate(0deg);
    }
    to{
     transform: translateY(20px) rotate(45deg);
    }
}
@keyframes item2 {
    from{
     width: normal;
    }
    to{
   width: 0px;
    }
}
@keyframes item3 {
    from{
    transform: translateY(0px) rotate(0deg);
    }
    to{
    transform: translateY(-26px) rotate(-45deg);
    }
}
.border-container1{
    width: 105px;
    height: 42px;
    margin-left: 50px;
    margin-top: 5px;
}
.border-container2{
    width: 115px;
    height: 42px;
    margin-left: 50px;
    margin-top: 5px;
}
.border-container3{
    width: 130px;
    height: 42px;
    margin-left: 50px;
    margin-top: 5px;
}
.border-container4{
    width: 110px;
    height: 42px;
    margin-left: 50px;
    margin-top: 5px;
}
.border1{
    width: 100%;
    height: 3px;
    background-color: aliceblue;
}
.border2{
    width: 100%;
    height: 3px;
    background-color: aliceblue;
}
.names{
    margin-top: 50px;
    width: 200px;
}
.Mgr{
    animation: Mgr 0.3s ease;
    width: 150px;
    margin-left: 5px;
    color: white;
}
.border-container1:hover .border1{
    animation: cool 0.5s ease;
    animation-fill-mode: forwards;
}
.border-container1:hover .border2{
    animation: cool-oppisite 0.5s ease;
    animation-fill-mode:forwards;
}
.border-container2:hover .border1{
    animation: cool2 0.5s ease;
    animation-fill-mode: forwards;
}
.border-container2:hover .border2{
    animation: cool-oppisite2 0.5s ease;
    animation-fill-mode: forwards;
}
.border-container3:hover .border1{
    animation: cool3 0.5s ease;
    animation-fill-mode: forwards;
}
.border-container3:hover .border2{
    animation: cool-oppisite3 0.5s ease;
    animation-fill-mode:forwards;
}
.border-container4:hover .border1{
    animation: cool4 0.5s ease;
    animation-fill-mode: forwards;
}
.border-container4:hover .border2{
    animation: cool-oppisite4 0.5s ease;
    animation-fill-mode: forwards;
}
@keyframes cool {
    from{
        opacity: 0.3;
        width: normal;
        height: normal;
    transform: translateY(0px) translateX(0px);
    }
    to{
        opacity: 1;
      width: 3px;
      height:20px ;
transform: translateY(22px) translateX(-10px);
    }
}
@keyframes cool-oppisite {
    from{

        opacity: 0.3;
     width: normal;
     height: normal;
     transform: translateY(0px) translateX(0px);
    }
    to{
        opacity: 1;
     width: 3px;
     height:20px ;
     transform: translateY(-25px) translateX(110px);
    }
}
@keyframes cool2 {
    from{
        opacity: 0.3;
        width: normal;
        height: normal;
    transform: translateY(0px) translateX(0px);
    }
    to{
        opacity: 1;
      width: 3px;
      height:20px ;
transform: translateY(22px) translateX(-10px);
    }
}
@keyframes cool-oppisite2 {
    from{
        opacity: 0.3;
     width: normal;
     height: normal;
     transform: translateY(0px) translateX(0px);
    }
    to{
        opacity: 1;
     width: 3px;
     height:20px ;
     transform: translateY(-22px) translateX(120px);
    }
}
@keyframes cool3 {
    from{
        opacity: 0.3;
        width: normal;
        height: normal;
    transform: translateY(0px) translateX(0px);
    }
    to{
        opacity: 1;
      width: 3px;
      height:20px;
transform: translateY(22px) translateX(-3px);
    }
}
@keyframes cool-oppisite3 {
    from{
        opacity: 0.3;
     width: normal;
     height: normal;
     transform: translateY(0px) translateX(0px);
    }
    to{
        opacity: 1;
     width: 3px;
     height:20px ;
     transform: translateY(-25px) translateX(130px);
    }
}
@keyframes cool4 {
    from{
        opacity: 0.3;
        width: normal;
        height: normal;
    transform: translateY(0px) translateX(0px);
    }
    to{
        opacity: 1;
      width: 3px;
      height:20px ;
transform: translateY(22px) translateX(-5px);
    }
}
@keyframes cool-oppisite4 {
    from{
        opacity: 0.3;
     width: normal;
     height: normal;
     transform: translateY(0px) translateX(0px);
    }
    to{
        opacity: 1;
     width: 3px;
     height:20px ;
     transform: translateY(-25px) translateX(110px);
    }
}
.border1{
margin-top: 5px;
margin-bottom: 5px;
}
.border2{
    margin-top: 5px;
    margin-bottom: 5px;
}
.names{
    cursor: pointer;
}
.names:hover{
    opacity: 1;
    animation: names 1s ease ;
}
@keyframes names {
    from{
        opacity: 0;
     transform: translateX(-40px);
    }
    to{
        opacity: 1;
     transform: translateX(0px);
    }
}