*{
    margin:0;
}
.condition{
    width: 100%;
    height: 100vh;
}
.test1{
    width: 100%;
    height: 4vh;
    background-color: rgb(1, 111, 128);
    display: flex;
    align-items: center; 
}
.icon{
    padding-left: 80vh;
}
.P{
    font-style:italic;
    color:aliceblue; 
    padding-left: 30vh;
    
}
.test2{
    width: 100%;
    height: 14vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
}
.PetWorld{
    padding-left: 30vh;
    
}